{% extends "base.html" %}
{% load static %}
{% block header %}
Bestsellers Books
{% endblock header%}
{% block content %}
<div>{{ max_date|date:"F j, Y" }}</div>
<div>{{object.display_name}}</div>
<ul>
    {% for obj in bestseller %}
    <li>
        {{obj.rank}}
        {{obj.book}}
    </li>
    {% endfor %}
</ul>
{% endblock content%}
