{% extends "base.html" %}
{% load static %}
{% block header %}
All categories
{% endblock header%}
{% block content %}

{% if object_list %}
<ul>
    {% for obj in object_list %}
    <li>
        <a href="{% url 'book_catalog_view' obj.id%}">{{obj.display_name}}</a> (публ. с {{obj.oldest_published_date|date:"d.m.Y"}}
        по {{obj.newest_published_date|date:"d.m.Y"}})
    </li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span class="current">
            стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<div class="row">
    <div class="col-6">
        <p>Нет записей.</p>
    </div>
</div>

{% endif %}

{% endblock content%}
