{% extends "base.html" %}
{% load static %}
{% block header %}
All categories
{% endblock header%}
{% block content %}
{% if object %}
<div class="row">

    <div class="col-12">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{object.display_name}}</h1>
        <p class="lead"></p>

        <p>Newest published date: {{object.newest_published_date|date:"F j, Y"}}</p>
        <p>Oldest published date: {{object.oldest_published_date|date:"F j, Y"}}</p>
    </div>
</div>
{% endif %}
{% endblock content%}
