<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <title>The New York Times Developer Network</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="api">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img src='{% static "img/1.png" %}' alt="The New York Times Developer Network"
                                     width="40px"></a>The New York Times Developer Network
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'index' %}" role="button">
                        Api
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'book_bestseller' %}" id="navbarDropdown1"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="{% url 'book_bestseller' %}">Bestsellers</a>
                        <a class="dropdown-item" href="{% url 'book_catalog' %}">All categories</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <h5 class="my-4">{% block header %}{% endblock header %}</h5>
    {% block content %}
    {% endblock content %}
</div>

<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>

