{% extends "base.html" %}
{% load static %}
{% block header %}The New York Times Best Sellers{% endblock header %}
{% block content %}
The New York Times Best Sellers
<div class="row">
    <div class="col-5 mt-4 ">
        <div>Api:</div>
        <div>https://developer.nytimes.com/docs/books-product/1/overview</div>
    </div>
</div>
{% endblock content%}
